# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
media/

# Static collected files
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Python packaging
*.egg-info/
dist/
build/