.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.card {
  transition: all 0.3s ease;
  border: 1px solid #dee2e6;
}

.card:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-color: #0d6efd;
  cursor: pointer;
  background: linear-gradient(to bottom, #ffffff, #f8f9fa);
}

.card h2 {
  transition: transform 0.3s ease;
}
.card:hover h2 {
  transform: rotate(10deg) scale(1.25);
}

.errorlist {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0.75rem;
    color: var(--bs-danger);
}

.errorlist li {
    color: var(--bs-danger);
}
